body{
    font-family: algerian;
   
}
.course-list a{
    text-decoration: none;
    display: block;
    color:red;
    background-color: grey;
    width: 100px;
    padding: 5px;
    
}
.course-list {
    display: none;
    position: absolute;
}
.container:hover > .course-list{
display: block;
}
.container {
    display: inline;
    cursor: pointer;
}
